<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.amorjk1.languagetranslator">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".PlayScreenGermanActivity"
            android:label="@string/title_activity_play_screen_german"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".PlayScreenSpanishActivity"
            android:label="@string/title_activity_play_screen_spanish"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".PlayScreenItalianActivity"
            android:label="@string/title_activity_play_screen_italian"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ResultsActivity" />
        <activity
            android:name=".TranslationActivity"
            android:label="@string/title_activity_translation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ContactUsActivity"
            android:label="@string/title_activity_contact_us"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AboutUsActivity"
            android:label="@string/title_activity_about_us"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PlayScreenActivity"
            android:label="@string/title_activity_playscreen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/SplashScreenTheme" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BottomNavigationActivity"
            android:label="@string/title_activity_bottom_navigation"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>